<div class="row-fluid">
	<div class="span8 well">
		{% include 'adminFormBuilding.html' %}
		{% for b in buildings %}
			<div id="building_{{b.id}}" class="off building">
				<div class="page-header"> 
					<h2>{{b.nom}} <small>#{{b.type}}</small>
						<a href="#" building_id="{{b.id}}" class="btn btn-danger pull-right" click="admin:deleteBuilding">
							<i class="icon-remove icon-white"></i> {{_lang.delete}}
						</a>
					</h2>
				</div>
				<div class="row-fluid">
					<div class="span4">
						<img src="/public/images/{{b.avatar}}" class="avatar_medium img-polaroid"/>
					</div>
					<div class="span8">
						{% include 'adminFormBuilding.html' %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="span4 well">
		<ul class="nav nav-list" id="buildings_list">
			<li><a href="#" class="btn btn-primary" click="admin:loadNew">{{_lang.create}}</a></li>
			<li class="nav-header">{{_lang.building_batiments}}</li>
			{% for b in buildings %}
				{% if b.type == "batiments" %}
					<li click="admin:loadBuilding" building_id="{{b.id}}">
						<a href="#" class="label label-inverse">{{b.nom}}</a>
					</li>
				{% endif %}
			{% endfor %}
			<li class="nav-header">{{_lang.building_technologies}}</li>
			{% for b in buildings %}
				{% if b.type == "technologie" %}
					<li click="admin:loadBuilding" building_id="{{b.id}}"><a href="#" class="label label-inverse">{{b.nom}}</a></li>
				{% endif %}
			{% endfor %}
			<li class="nav-header">{{_lang.building_civils}}</li>
			{% for b in buildings %}
				{% if b.type == "civils" %}
					<li click="admin:loadBuilding" building_id="{{b.id}}"><a href="#" class="label label-inverse">{{b.nom}}</a></li>
				{% endif %}
			{% endfor %}
			<li class="nav-header">{{_lang.building_vaisseaux}}</li>
			{% for b in buildings %}
				{% if b.type == "vaisseaux" %}
					<li click="admin:loadBuilding" building_id="{{b.id}}"><a href="#" class="label label-inverse">{{b.nom}}</a></li>
				{% endif %}
			{% endfor %}
			<li class="nav-header">{{_lang.building_defenses}}</li>
			{% for b in buildings %}
				{% if b.type == "defensif" %}
					<li click="admin:loadBuilding" building_id="{{b.id}}"><a href="#" class="label label-inverse">{{b.nom}}</a></li>
				{% endif %}
			{% endfor %}

		</ul>
	</div>
</div>