<div class="row-fluid" id="form_resources_move">
	<div class="span3">
		<div class="input-prepend">
		  	<span class="add-on">
		  		<img src="/public/images/icons/icon-metal.png" />
		  	</span>
			<input type="text" name="metal" value="0" class="input-mini"/>
		</div>
	</div>
	<div class="span3">
		<div class="input-prepend">
		  	<span class="add-on">
		  		<img src="/public/images/icons/icon-cristal.png" />
		  	</span>
			<input type="text" name="cristal" value="0" class="input-mini"/>
		</div>
	</div>
	<div class="span3">
		<div class="input-prepend">
		  	<span class="add-on">
		  		<img src="/public/images/icons/icon-tetranium.png" />
		  	</span>
			<input type="text" name="tetranium" value="0" class="input-mini"/>
		</div>
	</div>
	<div class="span3">
		<div class="input-prepend">
		  	<span class="add-on">
		  		<img src="/public/images/icons/icon-population.png" />
		  	</span>
			<input type="text" name="population" value="0" class="input-mini"/>
		</div>
	</div>
</div>