<h2>{{_lang.title_resource}} [{{planet.nom}}]</h2>
<hr />
<form method="POST" action="/move/doResource" id="move_flotte">
	<ul class="nav nav-pills">
		<li><a href="#" class="label label-inverse pop" data-placement="left" data-content="{{_lang.move_needs_tetranium}}" data-original-title="{{_lang.move_needs_tetranium_title}}"><img src="/public/images/icons/icon-tetranium-white.png" /> <span id="conso_tetranium">0</span></a></a></li>
		
		<li id="time_colonisation_normal"><a href="#" class="label label-inverse pop" data-placement="top" data-content="{{_lang.move_needs_time}}" data-original-title="{{_lang.move_needs_time_title}}"><i class="icon-time icon-white"></i> <span>{{time|totime}}</span></a></li>
		
		<li><a href="#" class="label label-inverse pop" data-placement="bottom" data-content="{{_lang.move_needs_distance}}" data-original-title="{{_lang.move_needs_distance_title}}"><i class="icon-resize-horizontal icon-white"></i> <span id="conso_distance">{{distance|todistance|raw}}</span></a></li>
		<li><a href="#" class="label label-inverse pop" data-placement="right" data-content="{{_lang.move_needs_stockage}}" data-original-title="{{_lang.move_needs_stockage_title}}"><img src="/public/images/icons/icon-cargo-white.png" /> <span id="conso_stockage">0</span></a></li>
	</ul>
	<a href="#" class="btn btn-danger pull-right" click="board:sendFlotte"><b>{{_lang.resource}}</b></a>
	<select name="behavior_type" change="home:hideResources">
		<option value="resource_give">{{_lang.resource_give}}</option>
		<option value="resource_give_ships">{{_lang.resource_give_ships}}</option>
		<option value="resource_ships">{{_lang.resource_ships}}</option>
	</select>
	<hr />
	{% include 'desk_form_vaisseaux.html' %}
	<hr />
	{% include 'desk_form_ressources.html' %}
</form>