<div class="modal hide fade" id="editPrefs">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_lang.modif_prefs}}</h3>
    </div>
    <div class="modal-body">
        <p><i>{{_lang.prefs_text}}</i></p>
        <div class="row-fluid">
            <div class="span6">
                {{_lang.prefs_refresh_time}}
            </div>
            <div class="span6">
                <select name="timer_ressources" change="home:changeTimeRessources" class="span4">
                    {% for i in [5000, 10000, 15000, 20000, 25000, 30000] %}
                        <option value="{{i}}" {% if i == _user.ressources_time %}selected="selected"{%endif%}>{{(i / 1000)}} s</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{_lang.modify}}</button>
    </div>
</div>