<div>
	<p>
		Facteur de temps : <input type="text" value="{{b.factor_time}}" change="script:calculB" name="factor_time"/>
	</p>
	<p>
		Facteur d'augmentation du cout : <input type="text" value="{{b.cost_augmentation}}" change="script:calculB" name="cost_augmentation"/>
	</p>
	<p>
		Metal de base : <input type="text" value="{{b.metaux_base}}" change="script:calculB" name="metaux_base"/>
	</p>
	<p>
		Cristal de base : <input type="text" value="{{b.cristaux_base}}" change="script:calculB" name="cristaux_base"/>
	</p>
	<p>
		population de base : <input type="text" value="{{b.population_base}}" change="script:calculB" name="population_base"/>
	</p>
	<p>
		tetranium de base : <input type="text" value="{{b.tetranium_base}}" name="tetranium_base" change="script:calculB"/>
	</p>
	<p>
		energie de base : <input type="text" value="{{b.energie_base}}" name="energie_base" change="script:calculB"/>
	</p>
	<p>
		Level max : <input type="text" disabled value="{{b.level_max}}" name="level_max"/>
	</p>
</div>
<div id="content_showB">
</div>