<div class="row-fluid">
	<div class="span8 well">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="dbgolds">
				<iframe src="http://payment.rentabiliweb.com/form/vc/?docId=123771&siteId=409300&cnIso=geoip&uid={{_user.user_id}}" width="700" height="500" frameborder="0" scrolling="auto"></iframe>
			</div>
			<div class="tab-pane fade" id="tshirt">
				<iframe height="800" width="700" src="http://252800.spreadshirt.fr/" name="Spreadshop" id="Spreadshop" frameborder="0" onload="window.scrollTo(0, 0);"></iframe>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active"><a href="#dbgolds" data-toggle="tab"><img class="icon" src="/public/images/icons/icon-coin-white.png" /> {{_lang.dbgolds}}</a></li>
				<li><a href="#tshirt" data-toggle="tab"><i class="icon-thumbs-up icon-white"></i> {{_lang.shop_tshirt}}</a></li>
			</ul>
		</div>
	</div>
</div>

        

		